# Prerequisites
*.d

#unwanted dirs
obj
obj-test
build

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.qm

# Precompiled Headers
*.gch
*.pch
qrc_bitcoin.cpp


# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bitcurrency-qt
src/bitcurrencyd

# others
Makefile
